<div class="container d-grid gap-3 p-3 pt-5">
  <div class="d-flex align-items-center py-5">
    <h1>{{ title }}</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">統計量</th>
        <th scope="col">機率</th>
        <th scope="col">自由度 (1)</th>
        <th scope="col">自由度 (2)</th>
        <th scope="col">臨界值</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">Z</th>
        <td><input type="text" class="form-control" (change)="zPChange($event)" /></td>
        <td class="cell-disabled">不用</td>
        <td class="cell-disabled">不用</td>
        <td>{{ zCv }}</td>
      </tr>
      <tr>
        <th scope="row">T</th>
        <td><input type="text" class="form-control" (change)="tPChange($event)" /></td>
        <td><input type="text" class="form-control" (change)="tDfChange($event)" /></td>
        <td class="cell-disabled">不用</td>
        <td>{{ tCv }}</td>
      </tr>
      <tr>
        <th scope="row">F (左尾)</th>
        <td><input type="text" class="form-control" (change)="fPChange($event)" /></td>
        <td><input type="text" class="form-control" (change)="fDf1Change($event)" /></td>
        <td><input type="text" class="form-control" (change)="fDf2Change($event)" /></td>
        <td>{{ fCv }}</td>
      </tr>
      <tr>
        <th scope="row">F (右尾)</th>
        <td><input type="text" class="form-control" (change)="fPRtChange($event)" /></td>
        <td><input type="text" class="form-control" (change)="fDf1RtChange($event)" /></td>
        <td><input type="text" class="form-control" (change)="fDf2RtChange($event)" /></td>
        <td>{{ fCvRt }}</td>
      </tr>
      <tr>
        <th scope="row">卡方 (左尾)</th>
        <td><input type="text" class="form-control" (change)="chiSqPChange($event)" /></td>
        <td><input type="text" class="form-control" (change)="chiSqDfChange($event)" /></td>
        <td class="cell-disabled">不用</td>
        <td>{{ chiSqCv }}</td>
      </tr>
      <tr>
        <th scope="row">卡方 (右尾)</th>
        <td><input type="text" class="form-control" (change)="chiSqPRtChange($event)" /></td>
        <td><input type="text" class="form-control" (change)="chiSqDfRtChange($event)" /></td>
        <td class="cell-disabled">不用</td>
        <td>{{ chiSqCvRt }}</td>
      </tr>
    </tbody>
  </table>
</div>
